* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header, .footer-img {
    width: 100%;
    padding: 20px;
    text-align: center;
    font-weight: bold;
    color: white;
}

.header {
    background-color: #6495ED;
    flex: 1;
}

.content {
    display: flex;
    flex: 4;
    background-color: #ADFF2F;
}

.text {
    width: 70%;
    padding: 20px;
    font-size: 24px;
}

.side-img {
    width: 30%;
    background-color: #6B8E23;
    padding: 20px;
    text-align: center;
    font-size: 24px;
}

.footer-img {
    background-color: #40E0D0;
    flex: 1;
}
