* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    background-color: #6495ED;
    width: 100%;
    height: 15%;
    text-align: center;
    padding: 20px;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    flex: 1; 
    background-color: #ADFF2F;
}

.text {
    flex: 7;
    padding: 20px;
    font-size: 24px;
    background-color: #FFFACD;
    display: flex;
    justify-content: center;
    align-items: center;
}

.side-img {
    flex: 3; 
    background-color: #6B8E23;
    padding: 20px;
    text-align: center;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-img {
    background-color: #40E0D0;
    width: 100%;
    height: 15%;
    text-align: center;
    padding: 20px;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}
